extends base.pug

block scripts 
    script(src='/static/index.js')

block style 
    style 
        include ../static/style.css
        include ../static/classinfostyle.css
block content 
    div.container
        div.box
            div.card
                div.heading
                    h2 HIPHOP
                    img(src="/static/hiphop.png", alt="")
                div.info
                    | hiphop dance
            div.card
                div.heading
                    h2 HIPHOP
                    img(src="/static/hiphop.png", alt="")
                div.info
                    | hiphop dance
            div.card
                div.heading
                    h2 HIPHOP
                    img(src="/static/hiphop.png", alt="")
                div.info
                    | hiphop dance
                