//- index.pug
doctype html
html
  head
    style
      include ../static/style.css
  body
    nav#navbar
       ul 
          li #[a(href="/") Home ]
          li #[a(href="/") About ]
          li #[a(href="/") Services ]
          li #[a(href="/") Class info ]
          li #[a(href="/") Contact us]  
       div#login #[a(href="/") Login]
    section#introsection 
       div.heading WELCOME TO SHRADHA'S DANCE ACADAMY
       div.small  Eat Sleep Dance Repeat
    section.ourMission
      h2 OUR MISSION
      div.mission 
        div#first DANCE PERFECTION
            div.content
              img(src="/static/logo.jpg", alt="")
              p this is the best dance acadamy of the universe
        div#second DANCE THE WAY YOU LIKE
            div.content
              img(src="/static/logo.jpg", alt="")
              p this is the best dance acadamy of the universe
        div#third EXPERT TEACHING
           div.content
              img(src="/static/logo.jpg", alt="")
              p this is the best dance acadamy of the universe
    section.sponsersection
      h2  OUR SPONSERS
      div.image
        img(src="/static/apple.png", alt="",width="100px" height="100px")
        img(src="/static/hp.png", alt="",width="100px" height="100px")
        img(src="/static/apple.png", alt="",width="100px" height="100px")
        img(src="/static/hp.png", alt="",width="100px" height="100px")
    footer#footer   
      div.footerinfo 
        div.logo
          img(src="/static/logo.jpg", alt="" width="50px" height="50px")
          p Shradha Dance Acadamy
        div copyright&copy;www.shradhadanceacadamy.com|All rights are reserved
        div contact us:
           p tel:1111222233<br>email:shradha@gmail.com


    
    script
      include ../static/index.js